{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body id="wrapper" class="{{body_class}}" data-template="base.twig">
    <header>
        {% block header %}
        <div id="sidebar-wrapper">
            <button type="button" id="menu-toggle" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="sidebar-nav navbar">
                <li class="sidebar-brand">
                    <a href="/">
                        <i class="mdi-action-home"></i>  {{ site.name }}
                    </a>
                </li>
                {% for item in menu.items %}
                    <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                        <a href="{{item.link}}">{{item.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    </header>
    {% block title %}
    {% endblock %}
    <section role="main" class="page-content-wrapper content-wrapper">

            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        {% block footer %}
            <footer id="footer" class="page-content-wrapper">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
